@import '@angular/cdk/overlay-prebuilt.css';

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add General Sans font using @font-face */
@font-face {
  font-family: 'General Sans';
  src: url('/assets/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('/assets/fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('/assets/fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root {
    --text: #e0edf0;
    --background: #04090b;
    --primary: #a8cfd6;
    --secondary: #363b72;
    --accent: #8171bc;
    --linearPrimarySecondary: linear-gradient(#a8cfd6, #363b72); /* Dark mode gradients */
    --linearPrimaryAccent: linear-gradient(#a8cfd6, #8171bc);
    --linearSecondaryAccent: linear-gradient(#363b72, #8171bc);
    --radialPrimarySecondary: radial-gradient(#a8cfd6, #363b72);
    --radialPrimaryAccent: radial-gradient(#a8cfd6, #8171bc);
    --radialSecondaryAccent: radial-gradient(#363b72, #8171bc);
    color-scheme: dark; /* Default to dark color scheme */
  }

  .light {
    --text: #0f1c1f;
    --background: #f4f9fb;
    --primary: #295057;
    --secondary: #8d92c9;
    --accent: #53438e;
    --linearPrimarySecondary: linear-gradient(#295057, #8d92c9); /* Light mode gradients */
    --linearPrimaryAccent: linear-gradient(#295057, #53438e);
    --linearSecondaryAccent: linear-gradient(#8d92c9, #53438e);
    --radialPrimarySecondary: radial-gradient(#295057, #8d92c9);
    --radialPrimaryAccent: radial-gradient(#295057, #53438e);
    --radialSecondaryAccent: radial-gradient(#8d92c9, #53438e);
    color-scheme: light;
  }

  body {
    font-family: 'General Sans', sans-serif; /* Fallback */
    @apply text-text bg-background transition-colors duration-300;
  }
}

@layer components {
  /* You can add your custom component styles here */
}

@layer utilities {
  /* You can add your custom utility classes here */
}