<nav class="bg-background text-text pt-4 px-4"> <!-- Added pt-4 for top padding -->
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <!-- Logo (Left) -->
    <div class="flex items-center space-x-4">
      <img src="assets/logos/advisory-high-resolution-logo-transparent (3).png" alt="Logo" class="h-7">
    </div>
    
    <!-- Navigation Links (Center) -->
    <div class="hidden md:flex space-x-6">
      <a href="#" class="text-primary hover:text-accent">Home</a>
      <a href="#about" class="text-primary hover:text-accent">About</a>
      <a href="#features" class="text-primary hover:text-accent">Features</a>
    </div>
    
    <!-- Get Started Text Link (Right) -->
    <div class="hidden md:flex">
      <a href="/login" class="text-primary hover:text-accent flex items-center">
        Get Started 
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 text-accent" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>
  </div>
</nav>
